**Bora praticar!**
  
1) Utilizando o DataFrame importado (alunos3.csv) calcule a média das provas em uma nova coluna chamada (Media_provas)

In [6]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/robertosgpontes/tec_prog_1/main/dados/alunos3.csv', sep=';', decimal=',')
df['Media_provas'] = (df['Prova_1'] + df['Prova_2'] + df['Prova_3'] + df['Prova_4']) / 4
df.head(5)

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Media_provas
0,110201,Antonio Carlos,20,6.5,8.5,7.0,6,7.00
1,110212,Ana Beatriz,20,7.0,7.0,7.0,8,7.25
2,110218,Carlos Vernes,17,7.0,7.0,7.0,7,7.00
3,110307,Francisco Cunha,20,9.0,8.5,8.5,10,9.00
4,110275,Sandra Rosa,15,6.5,7.5,7.0,7,7.00

2) Quem foram os alunos que obtiveram a maior e a menor média

In [10]:
df = df.sort_values(by='Media_provas', ascending=False)
print(df[['Nome','Media_provas']].head(1))
print(df[['Nome','Media_provas']].tail(1))

           Nome  Media_provas
7  José Valente          10.0
        Nome  Media_provas
6  Joao Galo         5.875

3) Agora una este dataframe com o `cadastro_alunos.xlsx`

In [14]:
df2 = pd.read_excel('https://github.com/pabloxD13/tecprog1_Pablo_Brito/blob/main/dados/cadastro_alunos.xlsx?raw=true')
df2

       RA          Cidade       Sexo  Idade
0  110201       São Paulo  Masculino     15
1  110212  Rio de Janeiro   Feminino     20
2  110218  Rio de Janeiro  Masculino     18
3  110307  Belo Horizonte  Masculino     39
4  110275  Belo Horizonte   Feminino     22
5  110281  Rio de Janeiro   Feminino     17
6  110301  Belo Horizonte  Masculino     26
7  110263  Belo Horizonte  Masculino     31
8  110271       São Paulo   Feminino     29
9  110236       São Paulo   Feminino     16

In [15]:
df_alunos = pd.merge(df, df2, on='RA', how='left')
df_alunos

,RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4,Media_provas,Cidade,Sexo,Idade
0,110263,José Valente,20,10.0,10.0,10.0,10,10.000,Belo Horizonte,Masculino,31
1,110307,Francisco Cunha,20,9.0,8.5,8.5,10,9.000,Belo Horizonte,Masculino,39
2,110271,Maria Ferreira,19,9.5,8.0,7.0,10,8.625,São Paulo,Feminino,29
3,110236,Adriana Tavares,20,8.0,8.0,8.0,8,8.000,São Paulo,Feminino,16
4,110281,Juliana Arruda,18,7.5,7.0,7.5,8,7.500,Rio de Janeiro,Feminino,17
5,110212,Ana Beatriz,20,7.0,7.0,7.0,8,7.250,Rio de Janeiro,Feminino,20
6,110201,Antonio Carlos,20,6.5,8.5,7.0,6,7.000,São Paulo,Masculino,15
7,110218,Carlos Vernes,17,7.0,7.0,7.0,7,7.000,Rio de Janeiro,Masculino,18
8,110275,Sandra Rosa,15,6.5,7.5,7.0,7,7.000,Belo Horizonte,Feminino,22
9,110301,Joao Galo,20,5.0,6.5,7.0,5,5.875,Belo Horizonte,Masculino,26

4) Qual a média entre as Media_provas dentro do público feminino? e masculino?

In [16]:
df_alunos.groupby('Sexo')['Media_provas'].mean()

Sexo
Feminino     7.675
Masculino    7.775
Name: Media_provas, dtype: float64

5) Qual a média de idade das pessoas que obtiveram Media_provas maior ou igual a 7?

In [27]:
med_idade = df_alunos[df_alunos['Media_provas'] >= 7]['Idade'].mean()
med_idade

23.0

6) Qual das cidades possui o maior média de Media_provas? E qual é este valor?

In [30]:
Cities = df_alunos.groupby('Cidade')['Media_provas'].sum()
Cities

Cidade
Belo Horizonte    31.875
Rio de Janeiro    21.750
São Paulo         23.625
Name: Media_provas, dtype: float64

7. Leia o arquivo `aluno3.csv`, apenas as colunas RA, Prova_1, Prova_2, Prova_3, Prova_4 calcule a médias das notas da prova e salve em um arquivo excel (xlsx) as colunas RA e Média.

In [32]:
df = pd.read_csv('https://raw.githubusercontent.com/robertosgpontes/tec_prog_1/main/dados/alunos3.csv', sep=';', decimal=',')
df['Media_provas'] = (df['Prova_1'] + df['Prova_2'] + df['Prova_3'] + df['Prova_4']) / 4
colunas = df[["RA", "Media_provas"]]
colunas.to_excel("aluno3.xlsx", index=False)